<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="AlightWealth.data.ExtentReporting"></listener>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="testsScripts.TestCase1"/>
      <class name="testsScripts.ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
